@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

@font-face {
  font-family: "Love Letter";
  src: url("./Lovelt__.ttf");
}

* {
  color: #c0caf5;
  font-family: "Love Letter", "Syne Mono", monospace;
}

body {
  background-color: #1a1b26;
  padding-bottom: 4em !important;
  padding-top: 2.5em !important;
}

.red-text {
  color: red;
}

.red-title-hover {
  transition: all ease 0.2s;
}

.red-title-hover:hover {
  color: red;
  transition: all ease 0.2s;
}

a {
  color: #9ece6a;
}

a:hover {
  color: #73daca;
}
